a {
  color:#fff;
}

a:focus,
a:hover {
  text-decoration: none;
  color: #f1f1f1;
}

.navbar {
  border-radius: 0;
  margin-bottom: 0;
  background-color:#2e3d49;
  color: #fff;
  border: none;
}

.content {
  color: blue;
  margin: 0;
  padding: 16px 0;
  position: relative;
  transition: background 0.5s ease 0s;
}