{% extends "base.html" %}
{% block content %}
<h1>Edit post</h1>
<form method="POST">
    <label>
        Subject<br>
        <input class="form-control" style="width:400px;" type="text" name="subject" value="{{post.subject}}">
    </label>
    <br><br>
    <label>
        Blog<br>
        <textarea class="form-control" name="content" style="width:400px;height:200px;">{{post.content}}</textarea>
    </label>
    <br>
    <label class="alert-danger">{{post_error}}</label>
    <input type="submit" class="btn btn-success" name="update" value="Update">
    <input type="submit" class="btn btn-default" name="cancel" value="Cancel">
</form>
{% endblock %}