{% extends "base.html" %}
{% block content %}
<h1>New post</h1>
<form method="POST">
    <label>
        Subject<br>
        <input class="form-control" style="width:400px;" type="text" name="subject" value="{{subject}}">
    </label>
    <br><br>
    <label>
        Blog<br>
        <textarea class="form-control" name="content" style="width:400px;height:200px;">{{content}}</textarea>
    </label>
    <br>
    <div class="alert-danger">{{post_error}}</div>
    <input type="submit" class="btn btn-success" value="Post">
</form>
{% endblock %}